<a href="https://colab.research.google.com/github/WilliamYkZhang/COMP551_A2/blob/master/feature_engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd 
import nltk
from nltk.tokenize import word_tokenize
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import matplotlib.pyplot as plt

In [36]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [0]:
stemmed_df = pd.read_csv("https://raw.githubusercontent.com/WilliamYkZhang/COMP551_A2/master/preprocessed_reddit_train_SnowballStemmer.csv?token=AKKZG4FIMNL4RZOBOMSF2V25WNYXW")
# lemmatized_df = pd.read_csv("https://raw.githubusercontent.com/WilliamYkZhang/COMP551_A2/master/preprocessed_reddit_train_WordNetLemmatizer.csv?token=AKKZG4HQMPHQZO4UAY6WHHK5WNY6E")

In [0]:
def word_count(sentence):
  return len(word_tokenize(sentence))

def comment_length(sentence):
  return len(sentence)

In [46]:
# Create scaler 
scaler = MinMaxScaler()

# Number of word
stemmed_df["word_count"] = stemmed_df["cleaned"].apply(word_count)

# Length of comments
stemmed_df["comment_length"] = stemmed_df["cleaned"].apply(comment_length))

       word_count  comment_length
0              60             315
1              29             139
2              23             132
3              25             112
4              45             198
5              11              42
6              75             335
7              17              87
8              45             218
9              42             184
10             32             144
11             12              49
12             12              49
13             11              51
14             17              71
15             16              73
16             38             177
17             24             120
18             52             269
19             11              53
20             26             122
21            292            1308
22             71             349
23             12              60
24             48             219
25             63             381
26             19              82
27             18              81
28             16              76
29             13              65
...           ...             ...
69970          49             234
69971          24             118
69972          16              72
69973          29             138
69974         637            3560
69975          81             372
69976          26             129
69977          12              69
69978          21              96
69979          29             109
69980          13              62
69981          33             161
69982          32             129
69983          86             397
69984          54             243
69985          26             113
69986          16              72
69987          22             101
69988         100             521
69989          10              49
69990          26             119
69991          39             176
69992          15              78
69993          14              66
69994          63             331
69995          54             316
69996          11              53
69997          37             162
69998          30             181
69999          42             186

[70000 rows x 2 columns]

In [62]:
# Using plots to inspect correlation of the comment length and the subreddit category
average_comment_length = pd.DataFrame(stemmed_df.groupby("subreddits").comment_length.mean())
average_word_count = pd.DataFrame(stemmed_df.groupby("subreddits", as_index=True).word_count.mean())
# .reset_index(drop=True)

print(average_comment_length)
print(average_word_count)

                 comment_length
subreddits
AskReddit            222.838571
GlobalOffensive      165.982857
Music                375.815714
Overwatch            231.803714
anime                224.969429
baseball             161.841429
canada               259.047714
conspiracy           260.557143
europe               250.288571
funny                153.306857
gameofthrones        223.049429
hockey               171.525143
leagueoflegends      195.143429
movies               202.532571
nba                  162.124000
nfl                  195.779714
soccer               171.698000
trees                160.914286
worldnews            256.345714
wow                  230.638000
                 word_count
subreddits
AskReddit         46.658286
GlobalOffensive   34.025143
Music             72.070286
Overwatch         47.680857
anime             45.901429
baseball          33.861714
canada            52.106857
conspiracy        51.450286
europe            49.448571
funny             32.184000
gameofthrones     44.305429
hockey            35.706286
leagueoflegends   41.010000
movies            42.054286
nba               34.210571
nfl               41.040857
soccer            35.679143
trees             34.367714
worldnews         50.615429
wow               47.870857

In [0]:
# Normalize number of words
# stemmed_df["word_count"] = scaler.fit_transform(stemmed_df["word_count"].to_numpy().reshape(-1,1))
# stemmed_df["comment_length"] = scaler.fit_transform(stemmed_df["word_count"].to_numpy().reshape(-1,1))

print(stemmed_df[["word_count", "comment_length"]]

In [3]:
stemmed_df.groupby("label").count()

         id  comments  subreddits  cleaned
label
0      3500      3500        3500     3500
1      3500      3500        3500     3500
2      3500      3500        3500     3500
3      3500      3500        3500     3500
4      3500      3500        3500     3500
5      3500      3500        3500     3500
6      3500      3500        3500     3500
7      3500      3500        3500     3500
8      3500      3500        3500     3500
9      3500      3500        3500     3500
10     3500      3500        3500     3500
11     3500      3500        3500     3500
12     3500      3500        3500     3500
13     3500      3500        3500     3500
14     3500      3500        3500     3500
15     3500      3500        3500     3500
16     3500      3500        3500     3500
17     3500      3500        3500     3500
18     3500      3500        3500     3500
19     3500      3500        3500     3500